* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: Mulish, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 30px;
    margin-bottom: 10px;
}

/* Стилі для контейнера входу та реєстрації */
.login-container, .register-container {
    background-color: #C8C4B7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
    margin-top: 10px; /* Відступ між контейнерами */
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}

form input, form select {
    width: 100%;
    padding: 8px;
    margin: 0px 0;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

form button:hover {
    background-color: #444;
}

/* Параграфи для лінків */
p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px; /* Зменшено розмір шрифта */
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стилі для повідомлень про помилки */
.error-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffdddd;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.error-container .error-message {
    margin: 0;
    color: #721c24;
}

/* Стилі для титулів календаря */
.calendar-title {
    position: absolute;
    top: 10px;
    left: 10px; 
    font-size: 20px;
    color: #333;
}
