body {
    background-color: #E5E5E5;
    font-family: Mulish, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #C8C4B7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 300px;
}
.login-container h2 {
    text-align: center;
}
.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #444;
}
.calendar-title {
    position: absolute;
    top: 10px;
    left: 10px; 
    font-size: 20px;
    color: #333;
}
.error-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffdddd;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    display: none;
}
.error-container .error-message {
    margin: 0;
    color: #721c24;
}