/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#current-day-time {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

#current-day-time span {
    margin: 0 10px;
}

/* Контейнер календаря */
#calendar-container {
    width: 70%;
    margin: 20px auto;
}

#calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
    text-align: center;
}

#calendar-weekdays span {
    font-weight: bold;
    padding: 10px;
}

#calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.calendar-day {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
}

.calendar-day.selected {
    background-color: #4caf50;
    color: white;
}

.calendar-day.has-events {
    background-color: #ffeb3b;
}

#events-container {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Стилі для модального вікна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

#create-event-form label {
    display: block;
    margin: 10px 0 5px;
}

#create-event-form input,
#create-event-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#create-event-form button {
    background-color: #45a049;
}

/* Стилі для кнопок редагування та видалення */
button#edit-event-btn,
button#delete-event-btn {
    margin-top: 10px;
    background-color: #f44336;
}

button#edit-event-btn:hover,
button#delete-event-btn:hover {
    background-color: #d32f2f;
}
